$primary: rgb(239, 239, 234);
$primary-darker: rgb(225, 225, 207);

$secondary: rgb(68, 113, 139);
$secondary-darker: rgb(28, 64, 85);

$contrast-lighter: rgba(255, 234, 206, 0.382);

$typography: rgb(4, 7, 21);

$pokemon-red: #ad1414;
$pokemon-blue: #27359e;
$pokemon-yellow: #ccb100;
