@use "../variables/colors";
@use "../variables/breakpoints";

.header {
  &__title {
    font-family: "Pokemon solid", sans-serif;
    font-size: 6em;
    color: colors.$pokemon-yellow;
    letter-spacing: 4px;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: colors.$pokemon-red;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    line-height: 1.1em;
    margin-bottom: 0.5em;
    z-index: 999;

    @media (max-width: breakpoints.$tablet) {
      margin: 0;
      margin-bottom: 0.4em;
      font-size: 5em;
    }
  }
}
