@use "../variables/colors";

.pokemon-list {
  box-shadow: 7px 7px 10px 7px rgba(0, 0, 0, 0.1) inset;
  padding: 3em;
  border-radius: 3em;
  border: solid 5px colors.$secondary;
  background-color: colors.$primary;

  &__count {
    font-family: "Pokemon solid", sans-serif;
    font-size: 1.1em;
    display: block;
    text-align: left;
    padding-bottom: 1em;
    letter-spacing: 2.5px;
  }
}

.card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;

  &__pagination {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    margin-top: 4em;

    &-button {
      font-size: 3em;
      color: colors.$secondary-brighter;
    }

    &-page {
      font-size: 1.4em;
    }
  }
}
