@use "../variables/colors";
@use "../variables/breakpoints";

.pokemon-list {
  box-shadow: 15px 15px 30px 15px rgba(0, 0, 0, 0.1);
  padding: 3em;
  border-radius: 3em;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);

  &--data {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1.4em;

    @media (max-width: breakpoints.$tablet) {
      font-size: 14px;
    }
  }

  &__count {
    color: colors.$secondary-darker !important;
    font-size: 1.4em;
    font-weight: bold;
  }

  &__count:after,
  &__link--not-last:after {
    content: "|";
    padding-left: 0.4em;
    padding-right: 0.4em;
  }

  &__link {
    color: colors.$secondary !important;
    font-size: 1.4em;
  }

  &__pagination {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    margin-top: 4em;

    &-button {
      font-size: 3em;
      color: colors.$pokemon-red;
    }

    &-page {
      font-size: 1.4em;
    }
  }
}
