@use "../variables/colors";
@use "../variables/breakpoints";

.poke-card {
  display: flex;
  border-radius: 1em;
  width: 100%;
  background-color: colors.$contrast-lighter;
  padding: 1em;

  @media (min-width: breakpoints.$tablet) {
    width: 47%;
  }

  @media (min-width: breakpoints.$desktop) {
    width: 30%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__id {
    font-family: "Pokemon solid", sans-serif;
    font-size: 0.9em;
    position: relative;
  }

  &__image {
    max-width: 60%;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }

  &__title {
    text-align: left;
    font-size: 2em;
    margin: 0;
  }

  &__data-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.8em;
    max-width: 90%;
    flex-wrap: wrap;

    &--bottom {
      margin-top: 0.9em;
    }
  }

  &__data-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  &__button {
    font-size: 1.7em;
    color: colors.$secondary-darker;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__show-details {
    font-size: 1.7em;
    color: colors.$secondary !important;
    position: absolute;
    top: 1.5em;
    right: 0;
    transition: 0.4s;
  }

  &__button:hover,
  &__show-details:hover {
    opacity: 0.8;
  }

  &__button:active,
  &__show-details:active {
    transform: scale(1.2) !important;
  }

  &__edit {
    color: colors.$secondary !important;
    position: absolute;
    top: 2.5em;
    right: 2.5em;

    font-size: 1.7em;
    cursor: pointer;

    @media (max-width: breakpoints.$tablet) {
      top: 5.5em;
      right: 2.5em;
    }
  }
}

.poke-card {
  &__data-group {
    width: 45%;
  }
}

.success-display:after {
  content: "+1";
  position: absolute;
  top: 3px;
  right: -30px;
  font-size: 0.7em;
}
