.tag {
  padding: 4px 10px 4px 10px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  width: fit-content;
  margin-top: 0.5em;
}

.tag.poison {
  border: 1px solid rgba(29, 51, 26, 1);
  background-color: rgba(29, 51, 26, 0.8);
  color: rgb(211, 234, 206);
}

.tag.grass {
  border: 1px solid rgba(130, 231, 117, 1);
  background-color: rgba(130, 231, 117, 0.8);
  color: rgb(52, 65, 50);
}

.tag.bug {
  border: 1px solid rgba(33, 122, 84, 1);
  background-color: rgba(33, 122, 84, 0.8);
  color: white;
}

.tag.water {
  border: 1px solid rgba(56, 191, 218, 1);
  background-color: rgba(56, 191, 218, 0.8);
  color: rgb(217, 240, 239);
}

.tag.fire {
  border: 1px solid rgba(200, 37, 37, 1);
  background-color: rgba(200, 37, 37, 0.8);
  color: rgb(244, 209, 209);
}

.tag.flying {
  border: 1px solid rgba(37, 53, 200, 1);
  background-color: rgba(37, 53, 200, 0.8);
  color: rgb(225, 229, 245);
}

.tag.electric {
  border: 1px solid rgba(218, 185, 20, 1);
  background-color: rgba(218, 185, 20, 0.8);
  color: rgb(70, 46, 0);
}

.tag.ground {
  border: 1px solid rgba(65, 60, 34, 1);
  background-color: rgba(65, 60, 34, 0.8);
  color: rgb(223, 212, 192);
}

.tag.fairy {
  border: 1px solid rgba(141, 58, 140, 0.8);
  background-color: rgba(141, 58, 140, 0.8);
  color: rgb(239, 220, 242);
}

.tag.ice {
  border: 1px solid rgba(0, 238, 255, 0.8);
  background-color: rgba(0, 238, 255, 0.8);
  color: rgb(200, 235, 253);
}

.tag.ghost {
  border: 1px solid rgba(5, 16, 17, 0.8);
  background-color: rgba(5, 16, 17, 0.8);
  color: rgb(217, 217, 217);
}

.tag.steel {
  border: 1px solid rgba(69, 101, 123, 0.8);
  background-color: rgba(69, 101, 123, 0.8);
  color: rgb(203, 207, 228);
}

.tag.rock {
  border: 1px solid rgba(132, 132, 132, 0.8);
  background-color: rgba(132, 132, 132, 0.8);
  color: white;
}

.tag.psychic {
  border: 1px solid rgba(60, 0, 56, 0.8);
  background-color: rgba(60, 0, 56, 0.8);
  color: rgb(220, 190, 218);
}

.tag.fighting {
  border: 1px solid rgba(52, 0, 0, 0.8);
  background-color: rgba(52, 0, 0, 0.8);
  color: rgb(212, 235, 221);
}

.tag.normal {
  border: 1px solid rgba(199, 189, 140, 0.8);
  background-color: rgba(199, 189, 140, 0.8);
  color: rgb(79, 73, 73);
}
